@import url(./__edit-button/card__edit-button.css);
@import url(./__complete-button/card__complete-button.css);
@import url(./__delete-button/card__delete-button.css);
@import url(./__text/card__text.css);
@import url(./__buttons/card__buttons.css);

.card {
    width: 80%;
    margin: 5px auto;
    background-color: #fff;
    /* background-color: #b89c9c; */
    border: 2px solid #0000ff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}